<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="macademy_customCheckout" frontName="macademy-customCheckout">
            <module name="Macademy_CustomCheckout" />
        </route>
    </router>
</config>
