<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <router id="standard">
        <route id="weather" frontName="weather">
            <module name="Devall_WeatherApp" />
        </route>
    </router>
</config>

